Flask==3.0.0
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.3
Flask-WTF==1.2.1
mysql-connector-python==8.2.0
python-dotenv==1.0.0
Flask-MQTT==1.1.1
Flask-SocketIO==5.3.6
PyJWT==2.8.0
bcrypt==4.1.2
Flask-Migrate==4.0.5
